<div class="studentNotes">
  <h3>Student Notes</h3>
  <div class="student-notes-objects">
    <label><strong>Comments:</strong></label>
    <textarea name="studentNotesBox" type="text" [(ngModel)]="studentObjectInput.miscNote.notes"></textarea>
    <div class="scroll-view">
      <div class="student-notes-pane">
        <div class="notesAuthor">
          <strong>Notes on {{studentObjectInput.student.studentName}}</strong>
        </div>
        <div class="notes" *ngFor="let note of studentObjectInput.miscNotes">
          <strong>[Entry]</strong>
          <strong>Author:</strong> {{note.author}}
          <strong>Date:</strong> {{note.time}}
          <p>{{note.notes}}</p>
        </div>
      </div>
    </div>
    <button (click) = "postMiscNotes()">Post!</button>
  </div>
</div>
