<div class="courseAssessmentArchive">
  <div>
    <app-archive-course-information [courseInformationObjInput]="courseInformationObj"></app-archive-course-information>
    <app-course-assessment-course-student-learning-outcomes [studentLearningOutcomesInput]="courseInformationObj"></app-course-assessment-course-student-learning-outcomes>
</div>
<div>
    <app-component-cafs1 [courseInformationObjInput]="courseInformationObj"></app-component-cafs1>
    <app-component-cafs2 [courseInformationObjInput]="courseInformationObj"></app-component-cafs2>
    <app-component-cafs3 [courseInformationObjInput]="courseInformationObj"></app-component-cafs3>
    <app-course-semester-evaluation [courseInformationObjInput]="courseInformationObj"></app-course-semester-evaluation>
    <app-component-cafs6 [courseInformationObjInput]="courseInformationObj"></app-component-cafs6>
</div>
</div>