<div class="courseInfoForAssessmentWorksheetContainer">
Course Assessment Form Section IV: 
<br>
<br>  
Log of Mid-Semster Individual Student Performace and Evaluation:<br>
<table border = "1">
<tr>
    <td>#</td>
    <td>ID#</td>
    <td>Learning<br> 
        Issues*</td>
    <td>Extent of Instructor<br> 
        Interactions</td>
    <td>Instructor<br> 
        Recommendations</td>
<tr>
    <tr>
    <td><input type="text" size = "5" NAME="sec4Num" /></td>
    <td><input type="text" size = "5" NAME="iDNum" /></td>
    <td><input type="text" size = "7" NAME="learningIssue" /></td>
    <td><textarea NAME="extentInstructor"style="width: 200px; height: 35px"></textarea></td>
    <td><textarea NAME="instructorRecommendations"style="width: 200px; height: 35px"></textarea></td>
    </tr>
    <tr>
            <td><input type="text" size = "5" NAME="sec4Num" /></td>
            <td><input type="text" size = "5" NAME="iDNum" /></td>
            <td><input type="text" size = "7" NAME="learningIssue" /></td>
            <td><textarea NAME="extentInstructor"style="width: 200px; height: 35px"></textarea></td>
            <td><textarea NAME="instructorRecommendations"style="width: 200px; height: 35px"></textarea></td>
    </tr>
    <tr>
            <td><input type="text" size = "5" NAME="sec4Num" /></td>
            <td><input type="text" size = "5" NAME="iDNum" /></td>
            <td><input type="text" size = "7" NAME="learningIssue" /></td>
            <td><textarea NAME="extentInstructor"style="width: 200px; height: 35px"></textarea></td>
            <td><textarea NAME="instructorRecommendations"style="width: 200px; height: 35px"></textarea></td>
    </tr>
     <tr>
            <td><input type="text" size = "5" NAME="sec4Num" /></td>
            <td><input type="text" size = "5" NAME="iDNum" /></td>
            <td><input type="text" size = "7" NAME="learningIssue" /></td>
            <td><textarea NAME="extentInstructor"style="width: 200px; height: 35px"></textarea></td>
            <td><textarea NAME="instructorRecommendations"style="width: 200px; height: 35px"></textarea></td>
    </tr>
    <tr>
            <td><input type="text" size = "5" NAME="sec4Num" /></td>
            <td><input type="text" size = "5" NAME="iDNum" /></td>
            <td><input type="text" size = "7" NAME="learningIssue" /></td>
            <td><textarea NAME="extentInstructor"style="width: 200px; height: 35px"></textarea></td>
            <td><textarea NAME="instructorRecommendations"style="width: 200px; height: 35px"></textarea></td>
    </tr>
        </table>
    <br>
<label id="LI Key"><strong>* Learning Issues:</strong>
    1. Course pace
    2. Poor background
    3. Mindset
    4. Interest/curiosity
    5. Effort/focus
    6. Time management
    7. Health issues
    8. Complacence
    9. Employment hours
    10. Other
</label>
<br>
<br>


      

  
     





