<div class="courseInfoForAssessmentWorksheetContainer">
Course Assessment Form Section II: 
<br>
<br>
<label>Chemestry Concepts Carry-Over From Previous Semsters:<br>
<textarea name = '' cols='45' rows='2'></textarea>
</label>
<label>Were Objectives and Content Covered:<br>
<textarea name = '' cols='45' rows='2'></textarea>
</label>
<label>General Comments:<br>
<textarea name = '' cols='45' rows='2'></textarea>
</label>


  Overall student performace: 
 
  <table border = '1'>
      <tr>
      <td>%A</td>
      <td>%B</td>
      <td>%C</td>
      <td>%D</td>
      <td>%F</td>
      <tr>
      <tr>
      <td><input type='text' id='gradeA' size = '7' NAME='Apercent' value= ''/></td>
      <td><input type='text' id='gradeB' size = '7' NAME='Bpercent' value= ''/></td>
      <td><input type='text' id='gradeC' size = '7' NAME='Cpercent' value= ''/></td>
      <td><input type='text' id='gradeD' size = '7' NAME='Dpercent' value= ''/></td>
      <td><input type='text' id='gradeF' size = '7' NAME='Fpercent' value= ''/></td>
      </tr>
      </table>
      <br>
    </div>


      

  
     





