<div class="cafs-component">
  <div class="cafs-component-header">
    <h3>Course Assessment Form Section II:</h3>
  </div>
  <div class="cafs-component-objects">
    <div class="cafs-component-encasing">
      <div class="cafs-component-padding">
        <div><label>Chemestry Concepts Carry-Over From Previous Semsters:<br><textarea name = '' cols='55' rows='5' [(ngModel)]="courseInformationObjInput.Cafs2Info.chemConcept"></textarea></label></div><br>
        <div><label>Were Objectives and Content Covered:<br><textarea name = '' cols='55' rows='5' [(ngModel)]="courseInformationObjInput.Cafs2Info.objectivesContent"></textarea></label></div><br>
        <div><label>General Comments:<br><textarea name = '' cols='55' rows='5' [(ngModel)]="courseInformationObjInput.Cafs2Info.generalComments"></textarea></label></div><br>        
      Overall student performace: <br>   
      <table align = 'center'  border = '1'>
        <tr>
        <td>%A</td>
        <td>%B</td>
        <td>%C</td>
        <td>%D</td>
        <td>%F</td>
        <tr>
        <tr>
        <td><input type='text' id='gradeA' size = '5' NAME='Apercent' value= '' [(ngModel)]="courseInformationObjInput.Cafs2Info.percentA"/></td>
        <td><input type='text' id='gradeB' size = '5' NAME='Bpercent' value= '' [(ngModel)]="courseInformationObjInput.Cafs2Info.percentB"/></td>
        <td><input type='text' id='gradeC' size = '5' NAME='Cpercent' value= '' [(ngModel)]="courseInformationObjInput.Cafs2Info.percentC"/></td>
        <td><input type='text' id='gradeD' size = '5' NAME='Dpercent' value= '' [(ngModel)]="courseInformationObjInput.Cafs2Info.percentD"/></td>
        <td><input type='text' id='gradeF' size = '5' NAME='Fpercent' value= '' [(ngModel)]="courseInformationObjInput.Cafs2Info.percentF"/></td>
        </tr>
      </table>
      <br>
      <br>
    </div>
    </div>
  </div>
</div>


    