


  
  .courseInfoForAssessmentWorksheetContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .courseInfoForAssessmentWorksheetLabel {
    font-weight: bold;
    margin-left: 40px;
  }
  
  .courseInfoForAssessmentWorksheetSelector {
    font-weight: bold;
    margin-left: 10px;
    background: #ac5a5a;
    border: 5px solid #000000;
  }