<div class="courseInfoForAssessmentWorksheet">
    <h4>Course Assessment Form Section III:<br>
      <br>
        
        <div><label>Course prerequisites:<br><textarea id = 'course_pre_req' cols='55' rows='5'></textarea></label></div><br>
        <div><label>Textbooks/other required materials:<br><textarea name = 'text_books' cols='55' rows='5'></textarea></label></div><br>
        <div><label>Student assessment measures:<br><textarea id = 'student_asse' cols='55' rows='5'></textarea></label></div><br>
        <div><label>Pedagogy<br><textarea id = 'pedagogy' cols='55' rows='5'></textarea></label></div><br>      
        <div><label>Faculty/guest instructions:<br><textarea name = 'faculty' cols='55' rows='5'></textarea></label></div><br>
        <div><label>Minor and capital equipment needs:<br><textarea id = 'minor_captial_eq' cols='55' rows='5'></textarea></label></div><br>
        <div><label>Other recommendations:<br><textarea id = 'other' cols='55' rows='5'></textarea></label></div><br>