<div class="studentIdSearchBox">
  <div class="studentIdSearchBoxLabel">Search for a student!</div>
    <input #studentIdSearchBox studentIdSearchBox.value=''>
    <button (click)="onSearch(studentIdSearchBox.value)">Search</button>
</div>
<div class="ilrBase">
  <app-student-pane [studentsInput]="student" [studentIdInput]="studentId"></app-student-pane>
  <div class = "miscNotesBase">
      <app-misc-notes [studentsInput]="student" [studentIdInput]="studentId"></app-misc-notes>
  </div>
  <!--<button (click)="onAddStudent()">Add Student</button>-->
</div>
