<div class="studentIdSearchBox">
  <div class="studentIdSearchBoxLable">Search for a student!</div>
    <input #studentIdSearchBox studentIdSearchBox.value=''>
    <button (click)="onSearch(studentIdSearchBox.value)">Search</button>
</div>
<div class="ilrBase">
  <app-student-pane [studentNameInput]="studentName" [studentIdInput]="studentId" [studentYearInput]="studentYear" [studentMajorInput]="studentMajor" [studentSemesterInput]="studentSemester" [studentHonorsInput]="studentHonors" [studentHousingInput]="studentHousingStatus" [studentInternationalInput]="studentInternational" [studentAthleticsInput]="studentAthletics" [studentMathGradeInput]="studentMathGrade" [studentPhotoInput]="studentPhoto" [studentTimeInput]="studentTime"></app-student-pane>
  <app-record-pane></app-record-pane>
</div>
