<div class="studentIdSearchBox">
  <div class="studentIdSearchBoxLabel">Search for a student!</div>
    <input #studentIdSearchBox studentIdSearchBox.value="">
    <button (click)="onSearchById(studentIdSearchBox.value)">Search by Id</button>
    <input #studentNameSearchBox studentNameSearchBox.value=""/>
    <button (click)="onSearchByName(studentNameSearchBox.value)">Search by Name</button>
</div>
<div class="ilrBase">
  <app-student-pane [studentObjectInput]="ilrStudentObject"></app-student-pane>
  <div class="ilrSideBoxes">
    <app-semester-evaluation [studentObjectInput]="ilrStudentObject" [courseInformationObjectInput]="courseInformationObject"></app-semester-evaluation>
    <app-misc-notes [studentObjectInput]="ilrStudentObject"></app-misc-notes>
  </div>
</div>
