<div class="newCourseContainer">
  <div class="newCoursePane">
    <b>Add new user</b><br>
    Username (Email):<input type="text" id="username"><br>
    Password:<input type="text" id="password">
    
    <div class="semesterContainer">
        Student
        <input #studentRadioBtn name="student" value="student" id="studentRadioBtn" type="radio">
        Teacher
        <input #teacherRadioBtn name="instructor" value="instructor" id="instructorRadioBtn" type="radio">
    </div>
    
    <input type="submit" value="Add" (click)="addUser()">
  </div>
  </div>