<div class="ilrStudent">
  <div>
    <img src="https://www-league.nhlstatic.com/builds/site-core/505a6f127dcc403fdad1e629840e9058ca0f1e88_1506980076/images/logos/team/current/team-5-light.svg">
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Name
    </div>
    <div>
      <input name="studentNameBox" type="text" [(ngModel)]="studentsInput.studentName" required>
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      ID #:
    </div>
    <div>
      <input name="studentIdBox" type="text" [(ngModel)]="studentIdInput">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Create Date:
    </div>
    <div>
      <input name="studentDateBox" type="text" [(ngModel)]="studentsInput.time">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Major:
    </div>
    <div>
      <input name="studentMajorBox" type="text" [(ngModel)]="studentsInput.studentMajor">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Year:
    </div>
    <div>
      <input name="studentYearBox" [(ngModel)]="studentsInput.studentYear" type="text">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Semester:
    </div>
    <div>
      <input name="studentSemesterBox" type="text" [(ngModel)]="studentsInput.studentSemester">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Math Placement:
    </div>
    <div>
      <input name="studentMathBox" type="text" [(ngModel)]="studentsInput.studentMathGrade">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Athletics:
    </div>
    <div>
      <input name="studentAtleticsBox" type="text" [(ngModel)]="studentsInput.studentAthletics">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Housing Status:
    </div>
    <div>
      <input name="studentHousingBox" type="text" [(ngModel)]="studentsInput.studentHousingStatus">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Honors Status:
    </div>
    <div>
      <input name="studentHonorsBox" type="text" [(ngModel)]="studentsInput.studentHonors">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      International Status:
    </div>
    <div>
      <input name="studentInternationalBox" type="text" [(ngModel)]="studentsInput.internationalStudent">
    </div>
  </div>
  <div>
    <button (click)="onUpdateStudent()">Update Student</button>
  </div>
</div>
