.ilrStudent {
    display: flex;
    flex-direction: column;
    border: 3px solid #000;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #DCDCDC;
    font-family: "Open Sans", sans-serif;
}

img {
  width: 200px;
  height: 200px;
}

.ilrStudentRow {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 10px;
}

.ilrStudentLabel {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.ilrStudentLabellastEdited {
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
    font-size: 12px;
}

.student-pane-pane {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}
