<div class="ilrStudent">
  <div>
    <img src="https://www-league.nhlstatic.com/builds/site-core/505a6f127dcc403fdad1e629840e9058ca0f1e88_1506980076/images/logos/team/current/team-5-light.svg">
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Name
    </div>
    <div>
      <input type="text" value="{{studentNameInput}}">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      ID #:
    </div>
    <div>
      <input type="text" value="{{studentIdInput}}">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Create Date:
    </div>
    <div>
      <input type="text" value="{{studentTimeInput}}">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Major:
    </div>
    <div>
      <input type="text" value="{{studentMajorInput}}">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Year:
    </div>
    <div>
      <input type="text" value="{{studentYearInput}}">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Semester:
    </div>
    <div>
      <input type="text" value="{{studentSemesterInput}}">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Math Placement:
    </div>
    <div>
      <input type="text" value="{{studentMathGradeInput}}">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Athletics:
    </div>
    <div>
      <input type="text" value="{{studentAthleticsInput}}">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Housing Status:
    </div>
    <div>
      <input type="text" value="{{studentHousingInput}}">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Honors Status:
    </div>
    <div>
      <input type="text" value="{{studentHonorsInput}}">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      International Status:
    </div>
    <div>
      <input type="text" value="{{studentInternationalInput}}">
    </div>
  </div>
</div>
