<div class="courseInfoForAssessmentWorksheet">
  <div class="courseInfoForAssessmentWorksheetContainer">
    <div>
      <span class="courseInfoForAssessmentWorksheetLabel">Course # / Sec:</span>
      <select class="courseInfoForAssessmentWorksheetSelector" #selectElem (change)="setcourseAndSection(selectElem.value)">
        <option class="courseInfoForAssessmentWorksheetSelector" *ngFor="let courseAndSection of courseAndSections" value={{courseAndSection.courseID}}>
          {{courseAndSection.courseID}}
        </option>
      </select>
    </div>
    <div class="courseInfoForAssessmentWorksheetRow">
      <span class="courseInfoForAssessmentWorksheetLabel">Course Title:</span>
      <span>{{courseInformationObjInput.CurrentClassInfo.courseTitle}}</span>
    </div>
  </div>
  <div class="courseInfoForAssessmentWorksheetContainer">
    <div>
      <span class="courseInfoForAssessmentWorksheetLabel">Semester:</span>
      <span>{{courseInformationObjInput.CurrentClassInfo.semester}}</span>
    </div>
    <div class="courseInfoForAssessmentWorksheetRow">
      <span class="courseInfoForAssessmentWorksheetLabel">Instructor:</span>
      <span>{{courseInformationObjInput.CurrentClassInfo.instructorName}}</span>
    </div>
  </div>
</div>
