<legend>Course Assessment Form Section 1 (Please be detailed):</legend>
<div><label>CAFS1ID: 
<textarea name ='Course' cols='75' rows='1' ></textarea></label></div>
<br>
<br>
<div><label>New SLOs: <textarea name = 'NewSLOs' cols='75' rows='5'></textarea></label></div><br>
<div><label>Upgrades: <textarea name = 'Upgrades' cols='75' rows='5'></textarea></label></div><br>
<div><label>Enhancements: <textarea name = 'Enhancements' cols='75' rows='5'></textarea></label></div><br>
<div><label>Modifications: <textarea name = 'Modifications' cols='75' rows='5'></textarea></label></div><br>
<div><label>Other: <textarea name = 'Other' cols='75' rows='5'></textarea></label></div>