.semester-evaluation {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  border: 3px solid #000;
  margin-left: 5px;
  margin-right: 50px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #DCDCDC;
  font-family: "Open Sans", sans-serif;
}

.semester-evaluation-objects {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.semester-evaluation-encasing {
  display: flex;
  flex-direction: row;
}

.semester-evaluation-learning-issues {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.semester-evaluation-learning-issues-encasing {
  display: flex;
  flex-direction: row;
}

.mid-semester-learning-issues {
  display: flex;
  flex-direction: column;
}

.mid-semester-learning-issues-header {
  padding-right: 2.5px;
}

.end-semester-learning-issues-header {
  padding-left: 2.5px;
}

.end-semester-learning-issues {
  display: flex;
  flex-direction: column;
}

.semester-instructor-notes {
  display: flex;
  flex-direction: column;
}

.mid-semester-instructor-notes {
  display: flex;
  flex-direction: row;
}

.end-semester-instructor-notes {
  display: flex;
  flex-direction: row;
}

.semester-evaluation-instructor-interactions {
  padding: 5px;
}

.semester-evaluation-instructor-recommendations {
  padding: 5px;
}

.semester-evaluation-header {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}

.semester-evaultion-selector {
  padding-left: 260px;
}

textarea {
  max-height: 210px;
}
