<div class="courseInfoForAssessmentWorksheet">
  <h4> Course Assessment Form Section II: 
<br>
<br>
<div>
  Chemestry Concepts Carry-Over From Previous Semsters:<br><input type="text" name="chemConcept"><br><br>
  Were Objectives and Content Covered:<br><input type="text" name="objectivesContent"><br><br>
  General Comments:<br><input type="text" name="generalComments"><br><br>
</div>

  Overall student performace: 
 
  <table align = 'center'  border = '1'>
      <tr>
      <td>%A</td>
      <td>%B</td>
      <td>%C</td>
      <td>%D</td>
      <td>%F</td>
      <tr>
      <tr>
      <td><input type='text' id='gradeA' size = '5' NAME='Apercent' value= ''/></td>
      <td><input type='text' id='gradeB' size = '5' NAME='Bpercent' value= ''/></td>
      <td><input type='text' id='gradeC' size = '5' NAME='Cpercent' value= ''/></td>
      <td><input type='text' id='gradeD' size = '5' NAME='Dpercent' value= ''/></td>
      <td><input type='text' id='gradeF' size = '5' NAME='Fpercent' value= ''/></td>
      </tr>
      </table>


      

  
     





