.course-semester-evaluation {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  border: 3px solid #000;
  margin-left: 5px;
  margin-right: 50px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #DCDCDC;
  font-family: "Open Sans", sans-serif;
}

.course-semester-evaluation-objects {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.course-semester-evaluation-header {
  display: flex;
  flex-direction: row;
}

.course-semester-evaluation-button {
  padding-left: 10px;
}

.new-course-semester-evaluation {
  background-color: green;
}

.new-course-semester-evaluation-error {
  background-color: red;
}

.course-semester-evaluation-pane {
  max-height: 500px;
}

.scroll-view {
  overflow: auto;
}

th {
  padding: 5px;
}

td {
  padding: 5px;
}
