<div class="courseInfoForAssessmentWorksheet">
    <h4>Course Assessment Form Section I:
        <div class="sectionItem">
            <label>New SLOs: </label>
            <textarea name='NewSLOs' [(ngModel)]="courseInformationObjInput.Cafs1Info.newSLOs"></textarea>
        </div>
        <br>
        <div>
            <label>Upgrades:
                <br>
                <textarea name='Upgrades' cols='55' rows='5' [(ngModel)]="courseInformationObjInput.Cafs1Info.upgrades"></textarea>
            </label>
        </div>
        <br>
        <div>
            <label>Enhancements:
                <br>
                <textarea name='Enhancements' cols='55' rows='5' [(ngModel)]="courseInformationObjInput.Cafs1Info.enhancements"></textarea>
            </label>
        </div>
        <br>
        <div>
            <label>Modifications:
                <br>
                <textarea name='Modifications' cols='55' rows='5' [(ngModel)]="courseInformationObjInput.Cafs1Info.modifications"></textarea>
            </label>
        </div>
        <br>
        <div>
            <label>Other:
                <br>
                <textarea name='Other' cols='55' rows='5' [(ngModel)]="courseInformationObjInput.Cafs1Info.other"></textarea>
            </label>
        </div>
        <br>