<div class="cafs-component">
        <div class="cafs-component-header">
          <h3>Course Assessment Form Section I:</h3>
        </div>
        <div class="cafs-component-objects">
            <div class="cafs-component-encasing">
                <div class="cafs-component-padding">
 
            <label>New SLOs:<br>
            <textarea name='NewSLOs' cols='75' rows='2' [(ngModel)]="courseInformationObjInput.Cafs1Info.newSLOs"></textarea>
            </label>
            <label>Upgrades:<br>
            <textarea name='Upgrades' cols='75' rows='2' [(ngModel)]="courseInformationObjInput.Cafs1Info.upgrades"></textarea>
            </label>
            <label>Enhancements:<br>
            <textarea name='Enhancements' cols='75' rows='2' [(ngModel)]="courseInformationObjInput.Cafs1Info.enhancements"></textarea>
            </label>
            <label>Modifications:<br>
            <textarea name='Modifications' cols='75' rows='2' [(ngModel)]="courseInformationObjInput.Cafs1Info.modifications"></textarea>
            </label>
            <label>Other:<br>
            <textarea name='Other' cols='75' rows='2' [(ngModel)]="courseInformationObjInput.Cafs1Info.other"></textarea>
            </label>
        </div>
    </div>
</div>
</div>
     