<div>
    <h4> Recommended changes to implement for the next offering of this course, if any:
    </h4>
    <div>
      <div>
        <div>Course prerequisites:</div><br>
        <input id="course_pre_req" type="text" ><br>
        <br>
      </div>
      <div>
        <div>Textbooks/other required materials:</div><br>
        <input id="text_books" type="text" ><br>
        <br>
      </div>
      <div>
        <div>Student assessment measures:</div><br>
        <input id="student_asse" type="text" ><br>
        <br>
      </div>
      <div>
        <div>Pedagogy:</div><br>
        <input id="pedagogy" type="text" ><br>
        <br>
      </div>
      <div>
        <div>Faculty/guest instructions:</div><br>
        <input id="faculty" type="text" ><br>
        <br>
      </div>
      <div>
        <div>Minor and capital equipment needs:</div><br>
        <input id="minor_captial_eq" type="text" ><br>
        <br>
      </div>
      <div>
        <div>Other recommendations:</div><br>
        <input id="other" type="text" ><br>
        <br>
      </div>
    </div>
  </div>