<div class="courseInfoForAssessmentWorksheetContainer ">
  Course Assessment Form Section VI:
  <br>
  <br>
    
      <label>Review ID:<br><textarea name = '' cols='25' rows='1'></textarea><br>
      </label>
      <label>Department review and comments:<br>
      <textarea name = '' cols='45' rows='2'></textarea>
      </label>
      <label>Department Reviewer(s):<br><textarea name = '' cols='35' rows='1'></textarea><br>
      </label>
      <label>Date of review:<br> <textarea name = '' cols='25' rows='1'></textarea><br>
      </label>
      <label>New action plans set for this course:<br>
      <textarea name = '' cols='45' rows='2'></textarea>
      </label>
      <label>New budget items to request for<br>
      the next fiscal year:<br>
      <textarea name = 'Other' cols='45' rows='2'></textarea>
      </label>
      <label>Director of Assessment/Division Chair<br> 
      review and comments:<br>
      <textarea name = 'Other' cols='45' rows='2'></textarea>
      </label>
      <label>Division Chair Signature:<br> <textarea name = '' cols='35' rows='1'></textarea><br> 
      </label>
      <label>Date of review:<br> <textarea name = '' cols='25' rows='1'></textarea><br>
      </label>
      </div>

    




 
    



      

  
     





