<div class="courseInfoForAssessmentWorksheet">
  <h4> Course Assessment Form Section IV: 
<br>
<br>  
<div style="text-align:center">Log of Mid-Semster Individual Student Performace and Evaluation: </div><br>
<table align = "center"  border = "1">
<tr>
    <td>#</td>
    <td>ID#</td>
    <td>Learning Issues*</td>
    <td>Extent of Instructor Interactions</td>
    <td>Instructor Recommendations</td>
<tr>
    <tr>
    <td><input type="text" size = "5" NAME="Section4Num[]" /></td>
    <td><input type="text" size = "5" NAME="IDNum[]" /></td>
    <td><input type="text" size = "13" NAME="LearningIssue[]" /></td>
    <td><textarea NAME="ExtentInstructor[]"style="width: 350px; height: 75px"></textarea></td>
    <td><textarea NAME="InstructorRecommendations[]"style="width: 350px; height: 75px"></textarea></td>
    </tr>
    <tr>
    <td><input type="text" size = "5" NAME="Section4Num[]" /></td>
    <td><input type="text" size = "5" NAME="IDNum[]" /></td>
    <td><input type="text" size = "13" NAME="LearningIssue[]" /></td>
    <td><textarea NAME="ExtentInstructor[]"style="width: 350px; height: 75px"></textarea></td>
    <td><textarea NAME="InstructorRecommendations[]"style="width: 350px; height: 75px"></textarea></td>
    </tr>
    <tr>
    <td><input type="text" size = "5" NAME="Section4Num[]" /></td>
    <td><input type="text" size = "5" NAME="IDNum[]" /></td>
    <td><input type="text" size = "13" NAME="LearningIssue[]" /></td>
    <td><textarea NAME="ExtentInstructor[]"style="width: 350px; height: 75px"></textarea></td>
    <td><textarea NAME="InstructorRecommendations[]"style="width: 350px; height: 75px"></textarea></td>
    </tr>
     <tr>
    <td><input type="text" size = "5" NAME="Section4Num[]" /></td>
    <td><input type="text" size = "5" NAME="IDNum[]" /></td>
    <td><input type="text" size = "13" NAME="LearningIssue[]" /></td>
    <td><textarea NAME="ExtentInstructor[]"style="width: 350px; height: 75px"></textarea></td>
    <td><textarea NAME="InstructorRecommendations[]"style="width: 350px; height: 75px"></textarea></td>
    </tr>
    <tr>
    <td><input type="text" size = "5" NAME="Section4Num[]" /></td>
    <td><input type="text" size = "5" NAME="IDNum[]" /></td>
    <td><input type="text" size = "13" NAME="LearningIssue[]" /></td>
    <td><textarea NAME="ExtentInstructor[]"style="width: 350px; height: 75px"></textarea></td>
    <td><textarea NAME="InstructorRecommendations[]"style="width: 350px; height: 75px"></textarea></td>
    </tr>
        </table>
    <br>
<label id="LI Key"><strong>* Learning Issues:</strong>
1. Course pace
2. Poor background
3. Mindset
4. Interest/curiosity
5. Effort/focus
6. Time management
7. Health issues
8. Complacence
9. Employment hours
10. Other
</label>
<br>
<br>


      

  
     





