.courseAssessment {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.saveButton {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  height: 50px;
  line-height: 25px;
  background-color: #831917;
  border: 3px solid #000;
  margin-left: 5px;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.saveButton:hover {
  background-color: #ac3634;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#main {
  margin-left: 200px;
}

.hidden>div {
	display:none;
}

.visible>div {
	display:block;
}