<div class="logoDiv">
    <div>
        <img class="larocheLogo" src="https://www.laroche.edu/img/logo.png">
    </div>
    <div class="headerTitle">Chemistry Department Student Learning System</div>
</div>
<tabs>
    <tab tabTitle="Course Assessment Form">
        <div class="messaging-app-main">
            <app-course-assessment-worksheet></app-course-assessment-worksheet>
        </div>
    </tab>
    <tab tabTitle="Individual Learning Record">
        <app-individual-learning-record></app-individual-learning-record>
    </tab>
    <tab tabTitle="Admin">
        <app-admin></app-admin>
    </tab>
</tabs>