<div class="ilrStudent">
  <div>
    <img src="https://www-league.nhlstatic.com/builds/site-core/505a6f127dcc403fdad1e629840e9058ca0f1e88_1506980076/images/logos/team/current/team-5-light.svg">
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Name:
    </div>
    <div>
      <input type="text" value="blah">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      ID #:
    </div>
    <div>
      <input type="text" value="blah">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Create Date:
    </div>
    <div>
      <input type="text" value="blah">
    </div>
  </div>
  <div class="ilrStudentRow">
    <div class="ilrStudentLabel">
      Major:
    </div>
    <div>
      <input type="text" value="blah">
    </div>
  </div>
</div>