<div class="courseInfoForAssessmentWorksheet">
    <h4>Course Assessment Form Section I:<br>
        <br>

<div><label>New SLOs: <br> <textarea name = 'NewSLOs' cols='55' rows='5'></textarea></label></div><br>
<div><label>Upgrades: <br><textarea name = 'Upgrades' cols='55' rows='5'></textarea></label></div><br>
<div><label>Enhancements: <br><textarea name = 'Enhancements' cols='55' rows='5'></textarea></label></div><br>
<div><label>Modifications: <br><textarea name = 'Modifications' cols='55' rows='5'></textarea></label></div><br>
<div><label>Other: <br> <textarea name = 'Other' cols='55' rows='5'></textarea></label></div>
<br>