<div class="courseInfoForAssessmentWorksheetContainer">
    Course Assessment Form Section III:
    <br>
      <br>
        <label>Course prerequisites:<br>
        <textarea id = 'course_pre_req' cols='45' rows='2'></textarea>
        </label>
        <label>Textbooks/other required materials:<br>
        <textarea name = 'text_books' cols='45' rows='2'></textarea>
        </label>
        <label>Student assessment measures:<br>
        <textarea id = 'student_asse' cols='45' rows='2'></textarea>
        </label>
        <label>Pedagogy:<br>
        <textarea id = 'pedagogy' cols='45' rows='2'></textarea>
        </label>      
        <label>Faculty/guest instructions:<br>
        <textarea name = 'faculty' cols='45' rows='2'></textarea>
        </label>
        <label>Minor and capital equipment needs:<br>
        <textarea id = 'minor_captial_eq' cols='45' rows='2'></textarea>
        </label>
        <label>Other recommendations:<br>
        <textarea id = 'other' cols='45' rows='2'></textarea>
        </label>
        </div>
   