<div class="courseInfoForAssessmentWorksheet">
  <h4>Course Assessment Form Section VI:
  <br>
  <br>
    <div>
      Review ID: <input type="text" name=""><br><br>
      <div><label>Department review and comments:<textarea name = '' cols='55' rows='5'></textarea></label></div>
      Department Reviewer(s): <input type="text" name=""><br> Date of review: <input type="text" name=""><br><br>
      <div><label>New action plans set for this course: <textarea name = '' cols='55' rows='5'></textarea></label></div><br>
      <div><label>New budget items to request for the next fiscal year:<textarea name = 'Other' cols='55' rows='5'></textarea></label></div><br>
      <div><label>Director of Assessment/Division Chair review and comments:<textarea name = 'Other' cols='55' rows='5'></textarea></label></div>
      Division Chair Signature: <input type="text" name=""><br> Date of review: <input type="text" name=""><br><br>
    </div>

    




 
    



      

  
     





